
@{
    ViewBag.Title = "Detail";
}

@section style
{
    <link rel="stylesheet" href="~/Content/css/customer.css" />
}


<div class="section_wrap notice_wrap">
    <div class="inner sub_inner">
        <div class="notice_top">
            <span class="notice_mark">공지사항</span>
            <p class="notice_tit">어쩌고 저쩌고 제목</p>

            <div class="n_date_watch">
                <span>2023.07.21</span>
                <span class="notice_before">조회수 200</span>
            </div>
        </div>

        <div class="noice_txt">
            안녕하심니까
        </div>

        <div class="list_btn_wrap">
            <a href="customer.html" class="list_btn">목록</a>
        </div>

    </div>
</div>
