

<div class="left_menu">
    <ul>
        <li>
            <a href="/User" class="on"><img src="~/Content/images/icon1.svg" alt="" />회원 관리</a>
        </li>
        <li>
            <a href="/Meetup"><img src="~/Content/images/icon3.svg" alt="" />모임 관리</a>
        </li>
        <li>
            <a href="/Community"><img src="~/Content/images/icon4.svg" alt="" />커뮤니티</a>
        </li>
        <li>
            <a href="/Notice"><img src="~/Content/images/icon6.svg" alt="" />공지사항</a>
        </li>
    </ul>

    <div class="left_bottom">
        <a href="admin.html"><img src="~/Content/images/setting.svg" alt="" /> 관리자 설정</a>
        <a href="" class="admin_logout">로그아웃</a>
    </div>
</div>