<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>다모여 관리자</title>

    <!-- 파비콘 -->
    <link rel="Shortcut Icon" href="~/Content/images/favicon.ico" />

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/Content/js/ad_common.js"></script>

    <!-- custom -->
    <link rel="stylesheet" href="~/Content/css/font.css" />
    <link rel="stylesheet" href="~/Content/css/ad_common.css" />
    <link rel="stylesheet" href="~/Content/css/ad_header.css" />
    


    @RenderSection("style", required: false)
</head>
<body>
    <!-- header -->
    <header>
        <div class="admin_header">
            <a href="" class="logo">
                <img src="~/Content/images/logo.png" alt="" />
            </a>
            <div class="admin_info">
                <img src="~/Content/images/user.svg" alt="" />
                @Damoyeo.Util.Manager.AdminManager.GetCookie().Nickname
            </div>
        </div>
    </header>

    @RenderBody()

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
