<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>다모여</title>

    <!-- 파비콘 -->
    <link rel="Shortcut Icon" href="/Content/images/favicon.ico" />

    <link rel="stylesheet" href="/Content/css/font.css" />
    <!-- custom -->
    <link rel="stylesheet" href="/Content/css/ad_common.css" />
</head>
<body>
    <div class="error_body">
        <div class="error_wrap">
            <i>!</i>
            <span>PAGE NOT FOUND</span>
            <p>요청하신 페이지가 존재하지 않거나,<br>일시적으로 사용이 중단되었습니다.</p>

            <a href="/" class="big_btn">관리자 사이트로 가기</a>
        </div>
    </div>
</body>
</html>
