
@{
    ViewBag.Title = "NoticeController";
}
@section style{
    <link rel="stylesheet" href="~/Content/css/notice.css" />
}
<div class="admin_contents">
    <!-- 래프트 고정 -->
    @Html.Partial("_Partial/_Left")

    <div class="right_con">
        <div class="com_wrap">
            <h3>공지사항</h3>

            <div class="search_wrap">
                <input type="search" name="" id="search_community" placeholder="검색어를 입력해주세요.">
                <span class="search_img">
                    <img src="~/Content/images/search.svg" alt="">
                </span>
            </div>


            <ul class="list_tit list_common">
                <li>제목</li>
                <li>작성자</li>
                <li>댓글수</li>
                <li>조회수</li>
                <li>삭제</li>
            </ul>

            <ul class="list_txt list_common">
                <li>
                    <a href="/Notice/Detail" >안녕하세요 봄날씨가 쌀쌀 안녕하세요 봄날씨가 쌀쌀</a>
                </li>
                <li>두덩어리</li>
                <li>200</li>
                <li>200</li>
                <li>
                    <span class="delete_btn">
                        <img src="~/Content/images/del_btn.svg" alt="">
                    </span>
                </li>
            </ul>

            <div class="no_list_wrap">
                <img src="~/Content/images/no_list.svg" alt="">
                <p>리스트가 없습니다.</p>
            </div>

            <div class="page_btn">
                <ul>
                    <li>
                        <a href=""><img src="~/Content/images/page_start.svg" alt="" /></a>
                        <a href=""><img src="~/Content/images/page_left.svg" alt="" /></a>
                    </li>
                    <li class="num">
                        <a href="" class="page_on">1</a>
                        <a href="">2</a>
                        <a href="">3</a>
                    </li>
                    <li>
                        <a href=""><img src="~/Content/images/page_right.svg" alt="" /></a>
                        <a href=""><img src="~/Content/images/page_end.svg" alt="" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- 회원정보 팝업 -->
<div class="mem_pop_dim common_pop_dim"></div>
<section class="member_popup common_popup">
    <span class="mem_close common_close">
        <img src="~/Content/images/close.svg" alt="닫기">
    </span>
    <p class="popup_tit">회원 정보</p>

    <div class="member_info">
        <div class="mi_top">
            <span class="mi_profile">
                <img src="~/Content/images/profile.png" alt="">
            </span>
            <ul>
                <li>
                    <span class="damoyeo_mark join_mark">
                        <img src="~/Content/images/mark_wh.png" alt="">
                    </span>
                    <p class="mi_email">dlfdsmfdsjf@gmail.com</p>
                </li>
                <li>두덩어리</li>
            </ul>
        </div>

        <div class="mi_middle mi_con">
            <ul>
                <li>
                    <div class="left">관심카테고리</div>
                    <div class="right">교육/어학, 취업/자격증</div>
                </li>
                <li>
                    <div class="left">자기소개</div>
                    <div class="right">안녕하세요</div>
                </li>
            </ul>
        </div>

        <div class="mi_bottom mi_con">
            <ul>
                <li>
                    <div class="left">가입일</div>
                    <div class="right">2024.03.08</div>
                </li>
                <li>
                    <div class="left">회원정지</div>
                    <div class="right">
                        <span class="mem_stop_btn mi_btn">정지</span>
                        <span class="mem_go_btn mi_btn">해제</span>
                    </div>
                </li>
            </ul>
        </div>

        <div class="withdrawal">
            <span>회원탈퇴</span>
        </div>
    </div>
</section>

<script>
    //회원정보 더보기
    $(function () {
        $('.mem_more').click(function () {
            $(".member_popup").show();
            $(".mem_pop_dim").show();
        });

        $(".mem_close, .mem_pop_dim").click(function () {
            $(".member_popup").hide();
            $(".mem_pop_dim").hide();
        });
    });
</script>