* {margin: 0; padding: 0; box-sizing: border-box; font-family: "Pretendard-Regular"; font-weight: normal; color: #333d4b;}
ul, li {list-style: none;}
a {color: #333d4b; text-decoration: none;}
p, span {color: #333d4b;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;	font-size: 100%;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1; overflow-x: hidden;}
ol, ul {	list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {	content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
::selection {background-color: #dbf0ff; color: #000;}


select {border: 1px solid #ebebeb; padding: 0px 15px; display: inline-block; width: 150px; height: 40px; outline: none; border-radius: 4px; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: #fff url(file:///C:/Users/2305201/Desktop/공부/images/select_arrow.svg) no-repeat 95% 50%; background-size: 20px; font-size: 14px; color: #737373;}


input {appearance: none; -webkit-appearance: none; -webkit-border-radius: 0; border-radius: 4px; padding: 14px; outline: none; font-size: 16px; border: 1px solid #ebebeb; color: #737373; width: 100%;}
input::-ms-clear, input::-ms-reveal {display: none; width: 0; height: 0;}
input::-webkit-search-decoration, input::-webkit-search-cancel-button,
input::-webkit-search-results-button, input::-webkit-search-results-decoration {display: none;}


textarea {resize: none; border-radius: 4px; padding: 14px; border: 1px solid #ebebeb; outline: none; font-size: 16px;}



/* 라디오버튼 커스텀 */
label {cursor: pointer; font-size: 14px; display: inline-block;}
input[type="radio"] {width: 20px; height: 20px; padding: 0; border-radius: 50%; vertical-align: middle; margin-right: 10px; border: 1px solid #e5e5e5; background-color: #fff;}
input[type="radio"]:checked {background-color: #fff; color: #fff; border: 0.4em solid #0064ff;}
.radio_box {margin-right: 20px;}


/* 체크박스 커스텀 */
input[type="checkbox"] {width: 20px; height: 20px; padding: 0; border-radius: 3px; vertical-align: middle; margin-right: 10px; border: 1px solid #e5e5e5;}
input[type="checkbox"]:checked {background: url(file:///C:/Users/2305201/Desktop/공부/images/check.svg) no-repeat; background-color: #0064ff; background-position: center; border: 1px solid #0064ff; background-size: 18px;}
.check_box {margin-right: 20px;}

/* 스크롤바 커스텀 */
::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-thumb {background: rgb(196, 195, 199); /* 스크롤바 색상 */ border-radius: 10px; /* 스크롤바 둥근 테두리 */}
::-webkit-scrollbar-track {background: rgba(0, 0, 0, 0.1); /*스크롤바 뒷 배경 색상*/}


.inner {max-width: 1300px; margin: 0 auto;}
.sub_inner {padding: 120px 0; text-align: center; min-height: 700px;}


.section_wrap {margin-top: 80px;}
.section_wrap .section_title { font-size: 35px; font-family: "Pretendard-SemiBold"; margin-bottom: 60px;}


.contents_wrap {padding: 100px 0 0;}


.top_fixed {position: fixed; background-color: #fff; border: 1px solid #e4e4e4; border-radius: 50%; height: 60px; width: 60px; right: 40px; text-align: center; transition: 0.3s; z-index: 21; bottom: 40px; display: flex; align-items: center; justify-content: center;}
.top_fixed:hover {background-color: #f1f1f1; transition: 0.3s;}


/* 페이지 */
.page_btn {margin-top: 100px;}
.page_btn ul {display: flex; justify-content: center; align-items: center;}
.page_btn ul li {display: flex;}
.page_btn ul li a {width: 35px; height: 35px; background-color: #f6f6f6; margin: 0 3px; display: flex; align-items: center; justify-content: center; border-radius: 10px; font-family: "Pretendard-Medium";}
.page_btn ul li a:hover {background-color: #dbdbdb; transition: 0.3s;}
.page_btn ul li.num a {font-size: 14px;}
.page_btn ul li.num a.page_on {background-color: #333d4b; color: #fff; box-shadow: 0 8px 10px #d5d5d5;}


/* 검색창 */
.search_wrap {border: 1px solid #ededed; border-radius: 5px; width: 400px; margin: 0 auto; position: relative; box-shadow: 0 10px 20px #f2f2f2; margin-bottom: 80px;}
.search_wrap input {width: 100%; padding: 14px 20px; outline: none; border: none;}
.search_wrap .search_img {position: absolute; top: 50%; right: 15px; transform: translateY(-50%); cursor: pointer; display: inline-block;}
.search_wrap .search_img img {width: 25px; display: block;}


/* 공통버튼 */
.common_btn {text-align: right;margin-bottom: 20px;}
.common_btn a {background-color: #0064ff; border-radius: 5px; padding: 12px 22px; font-size: 14px; margin-left: 25px; color: #fff; display: inline-block; font-family: "Pretendard-Medium";}

.heart_click {cursor: pointer;}

.big_btn {margin: 100px 0 50px; display: inline-block; background: #0064ff; color: #fff;  padding: 20px; width: 250px; text-align: center; border-radius: 5px; cursor: pointer; box-shadow: 0 15px 30px #c0cbdc;}

.page_cbtn {width: 120px; background-color: #333d4b; border: 1px solid #333d4b; color: #fff; border-radius: 4px; display: inline-block; cursor: pointer; text-align: center; font-size: 14px; height: 40px; line-height: 39px;}
.page_mbtn {width: 120px; border: 1px solid #333d4b; color: #333d4b; border-radius: 4px; display: inline-block; cursor: pointer; text-align: center; font-size: 14px; height: 40px; line-height: 39px; font-family: "Pretendard-Medium";}

.back_btn {text-align: left; margin-bottom: 30px;}
.back_btn a {background-color: #f6f6f6; width: 35px; height: 35px; border-radius: 10px; text-align: center; display: flex; align-items: center; justify-content: center;}
.back_btn a:hover {background-color: #dbdbdb; transition: 0.3s;}

.list_btn_wrap {text-align: center; margin: 100px 0 50px;}
.list_btn_wrap .list_btn {display: inline-block; background: #333d4b; color: #fff;  padding: 20px; width: 250px; text-align: center; border-radius: 5px; cursor: pointer;}

/* 소모임 리스트 */
.contents_wrap .meet_box {border: 1px solid #ededed; border-radius: 15px; overflow: hidden;}
.contents_wrap .meet_box:hover {box-shadow: 0 15px 15px #f2f2f2; transition: 0.3s;}
.contents_wrap .meet_box a {display: block; width: 100%;}
.contents_wrap .meet_box a > img {display: block; width: 100%; border-radius: 15px 15px 0 0;}
.contents_wrap .meet_box a span {display: inline-block;}
.contents_wrap .meet_box .new_text_wrap {text-align: left; padding-right: 30px; width: calc(100% - 40px);}
.contents_wrap .meet_box .meet_flex {padding: 30px 30px 40px 30px; display: flex; align-items: flex-end; background-color: #fff; flex-wrap: wrap;}
.m_mark {background-color: #efefef; border-radius: 5px; font-size: 13px; padding: 6px 10px; margin-bottom: 10px; color: #666; display: inline-block;}
.m_mark img {width: 14px; vertical-align: text-bottom;}
.contents_wrap .meet_box .m_tit {font-family: "Pretendard-SemiBold"; font-size: 20px; line-height: 24px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; margin-bottom: 10px;}
.contents_wrap .meet_box .m_txt {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; color: #888; font-size: 15px;}
.contents_wrap .meet_box .heart_click {border-radius: 50%; border: 1px solid #ededed; width: 39px; height: 39px; display: inline-block; line-height: 46px; cursor: pointer; text-align: center;}
.contents_wrap .meet_box .apply_wrap {font-size: 13px;margin-top: 30px;display: flex;justify-content: space-between;width: 100%;}
.contents_wrap .meet_box .apply_wrap p img {vertical-align: middle;width: 18px;margin-top: -1px;}


/* 팝업 */
.common_pop_dim {position: fixed; top: 0; left: 0; right: 0; z-index: 100; bottom: 0; background-color: rgba(0, 0, 0, 0.5); display: none;}
.common_popup {position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #fff; z-index: 101; margin-bottom: 0 !important; padding: 60px 30px 30px; border-radius: 10px; display: none; text-align: left;}
.common_popup .common_close {position: absolute; top: 20px; right: 20px; cursor: pointer; width: 25px;}
.common_popup .popup_tit {font-size: 20px; font-family: "Pretendard-Bold"; margin-bottom: 25px;}


/* 리스트 없을때 */
.no_list_wrap {display: inline-block; width: 100%; padding: 100px 0; text-align: center;}
.no_list_wrap img {width: 70px; margin-bottom: 30px;}
.no_list_wrap p {font-size: 14px; color: #aeb3c2; font-family: "Pretendard-Light";}

.po_con_wrap .pop_wrap {display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-gap: 20px;}
.po_con_wrap .pop_wrap .meet_box .meet_flex {padding: 20px 20px 30px 20px;}

/* 회원정보 */
.meminput_box ul li {display: flex;align-items: baseline;border-bottom: 1px dashed #ededed;padding: 15px 0;text-align: left;}
.meminput_box ul li:last-of-type {border: none;padding-bottom: 0;}
.meminput_box ul li .mo_tit {width: 150px; font-family: "Pretendard-Medium";}
.meminput_box ul li .mo_txt {width: calc(100% - 150px); display: flex; flex-wrap: wrap;}
.meminput_box ul li input {font-size: 14px;}
.meminput_box ul li.mcalc .mo_txt input {width: calc(100% - 125px);margin-right: 5px;}
.meminput_box ul li.mcalc .page_cbtn {height: 46px; line-height: 45px;}


.meminput_box ul li .mo_email {display: flex;align-items: center;width: calc(100% - 120px);}
.meminput_box ul li .mo_email .email_at {margin-right: 5px; width: 15px;}
.meminput_box ul li .mo_email select {height: 46px;}
.mo_email input[type="text"], .mo_email input[type="email"], .mo_email select {flex: 1; margin-right: 5px;}

.meminput_box ul li .mo_mark {color: #d83d3d;; font-size: 12px; margin-top: 10px;}

.meminput_box ul .new_pw_wrap {display: none;}

.meminput_box ul li .inter_check {display: flex;flex-wrap: wrap;width: 100%;}
.meminput_box ul li .inter_check label {width: 25%; margin-right: 0; margin-bottom: 5px;}
.meminput_box ul li .inter_check label:nth-child(5),
.meminput_box ul li .inter_check label:nth-child(6),
.meminput_box ul li .inter_check label:nth-child(7),
.meminput_box ul li .inter_check label:nth-child(8) {margin-bottom: 0;}
.meminput_box ul li textarea {width: 100%; font-size: 14px;}
i.ab {font-style: normal;font-size: 12px;vertical-align: super;color: #0064ff;}

/* 에러페이지 */
.error_wrap {position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;}
.error_wrap i {font-size: 53px;border-radius: 50%;border: 3px solid #0064ff;font-style: normal;width: 100px;height: 100px;display: inline-block;line-height: 100px;color: #0064ff;font-family: "Pretendard-Bold";margin-bottom: 30px;}
.error_wrap span {display: block;font-size: 40px;font-family: "Pretendard-SemiBold";margin-bottom: 20px;}
.error_wrap p {line-height: 24px;}
.error_wrap a {display: inline-block;}

/* 리스트 */
.list_common {display: flex; text-align: center;}
.list_common li {padding: 15px; flex: 1; font-size: 14px;}
.list_common li:nth-of-type(1) {text-align: left;}
.list_tit {border-bottom: 1px solid #181818;}
.list_tit li {color: #888;}
.list_txt {border-bottom: 1px solid #ededed;}
.list_txt a:hover {text-decoration: underline;}
.list_txt:last-of-type {border-bottom: none;}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 787px) {
}
@media screen and (max-width: 374px) {
}
