footer {
  background-color: #222;
}
footer .inner {
  justify-content: space-between;
  padding: 60px 0;
  text-align: center;
  justify-content: center;
}
footer .inner p {
  font-size: 15px;
  margin-top: 10px;
  color: #b8b8b8;
}
@media screen and (max-width: 787px) {
  footer .inner {padding: 50px 0;}
  footer .inner img {width: 120px;}
  footer .inner p {font-size: 14px;}
}