.main_container {
  margin-top: 130px;
}
.main_slider .inner img {
  border-radius: 20px;
}

.contents_wrap {
  text-align: center;
}
.contents_wrap .con_title {
  font-size: 30px;
  font-family: "Pretendard-SemiBold";
  margin-bottom: 20px;
}
.contents_wrap .con_stitle {
  color: #888;
  font-family: "Pretendard-Light";
  margin-bottom: 30px;
  display: inline-block;
  width: 100%;
}

.contents_wrap .new_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}


.ev_con_wrap {
  margin-bottom: 100px;
}
.ev_con_wrap a {
  position: relative;
  display: inline-block;
}
.ev_con_wrap a:hover .ev_btn {
  transition: 0.3s;
  border: 2px solid #fff;
}
.ev_con_wrap img {
  border-radius: 15px;
  display: block;
}
.ev_con_wrap .ev_btn {
  position: absolute;
  right: 160px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100px;
  padding: 15px 30px;
  color: #fff;
  border: 2px solid #666;
}

.po_con_wrap {
  background-color: #fafafa;
  padding-bottom: 100px;
}


.co_con_wrap .cobox_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  padding-bottom: 100px;
}
.co_con_wrap .cobox_wrap > a {
  background-color: #f6f6f6;
  border-radius: 15px;
  padding: 30px;
  text-align: left;
  border: 1px solid #f6f6f6;
  position: relative;
}
.co_con_wrap .cobox_wrap > a:hover {
  border: 1px solid #0064ff;
  box-shadow: 0 15px 15px #f2f2f2;
  background-color: #fff;
  transition: 0.3s;
}
.co_con_wrap .cobox_wrap > a i {
  font-style: normal;
  font-size: 14px;
  margin-bottom: 10px;
  display: inline-block;
}
.co_con_wrap .cobox_wrap > a p {
  font-size: 20px;
  font-family: "Pretendard-SemiBold";
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom: 20px;
}
.co_con_wrap .cobox_wrap > a span {
  font-size: 14px;
  color: #888;
}
.co_con_wrap .cobox_wrap > a img {
  position: absolute;
  right: 25px;
  top: 25px;
  width: 12px;
}

.notice_wrap {
  border-top: 1px solid #ededed;
}
.notice_wrap .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notice_wrap .inner .notice_tit {
  display: flex;
  align-items: center;
  width: 160px;
  padding: 30px 0;
  border-right: 1px solid #ededed;
}
.notice_wrap .inner .notice_tit p {
  font-family: "Pretendard-SemiBold";
}
.notice_wrap .inner .notice_tit img {
  margin-right: 10px;
  transform: rotate(45deg);
}
.notice_wrap .inner .notice_txt {
  width: calc(100% - 280px);
  text-align: left;
  padding-left: 50px;
}
.notice_wrap .inner .notice_txt a {
  color: #666;
  padding: 30px 0;
  width: 100%;
  display: inline-block;
}
.notice_wrap .inner .notice_txt a:hover {
  text-decoration: underline;
}
.notice_wrap .inner .notice_more {
  width: 120px;
}
.notice_wrap .inner .notice_more a {
  border: 2px solid #ededed;
  border-radius: 30px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  width: 100%;
  display: inline-block;
}
.notice_wrap .inner .notice_more a:hover {
  background-color: #333d4b;
  color: #fff;
  border: 2px solid #333d4b;
  transition: 0.3s;
}
