.login_wrap .login_box {
  background-color: #fff;
  display: inline-block;
  border-radius: 50px;
  width: 380px;
}
.login_wrap .login_box .l_input_wrap {
  margin-bottom: 15px;
}
.login_wrap .login_box .l_input_wrap span {
  color: #181818;
  display: inline-block;
  width: 100%;
  text-align: left;
  font-family: "Pretendard-SemiBold";
  margin-bottom: 10px;
  font-size: 14px;
}
.login_wrap .login_box .l_input_wrap input {
  width: 100%;
}
.login_wrap .login_box .id_pw_find {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.login_wrap .login_box .id_pw_find a {
  font-size: 14px;
  color: #888;
  font-family: "Pretendard-Light";
}
.login_wrap .login_box .id_pw_find a:last-of-type::before {
  content: "";
  background-color: #e4e4e4;
  width: 1px;
  height: 10px;
  display: inline-block;
  margin: 0 10px;
}
.login_wrap .login_box .login_btn {
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 18px 0;
  border-radius: 4px;
  cursor: pointer;
}
.login_wrap .login_box .damoyeo_btn {
  background-color: #0064ff;
  color: #fff;
  margin-bottom: 10px; 
}
.login_wrap .login_box .kakao_btn {
  background-color: #ffec3f;
  margin-bottom: 15px;
  color: #3f3a39;
  position: relative;
} 
.login_wrap .login_box .kakao_btn img {
  position: absolute; 
  top: 50%;
  left: 18px;
  transform: translateY(-50%); width: 18px;
}
.login_wrap .login_box .mem_join span {
  font-family: "Pretendard-SemiBold";
  font-size: 14px;
}
.login_wrap .login_box .mem_join a {
  text-decoration: underline;
  color: #0064ff;
  font-size: 14px;
}
