.open_wrap input[type="text"] {height: 40px; font-size: 14px;}
.open_wrap .open_tit {font-size: 20px; margin-bottom: 20px; font-family: "Pretendard-SemiBold";}
.open_wrap .open_tit span {font-size: 14px; color: #d83d3d;}

.open_wrap .img_common_box img {width: 100%; height: 100%; object-fit: cover; min-width: 100%; min-height: 100%; position: absolute; transform: translate(-50%, -50%); top: 50%; left: 50%;}
.open_wrap .img_up_btn {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); cursor: pointer; background-color: #f5f5f5; color: #fff; text-align: center; border-radius: 50%;}
.open_wrap .img_up_btn label {width: 100%;}
.open_wrap .img_up_btn img {
  vertical-align: middle;
}
.open_wrap .after_btn {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);display: flex;flex-direction: column;width: 100%;align-items: center;}
.open_wrap .after_btn label {background-color: #f6f6f6;color: #181818;display: inline-block;text-align: center;padding: 10px 8px;border-radius: 5px;width: 80px;box-shadow: 0 17px 40px #00000052;}
.open_wrap .after_btn .delete_photo {background-color: #fce9ef;display: inline-block;text-align: center;color: #f47c7c;padding: 10px;border-radius: 5px;font-size: 14px;margin-top: 5px;cursor: pointer;width: 80px;}
.open_wrap .open_notice {font-size: 12px; margin-top: 10px; color: #888;}

.open_wrap .open_top .right {width: calc(100% - 250px); text-align: left; padding-left: 80px;}

.open_wrap .open_info li {display: flex; align-items: baseline; border-bottom: 1px dashed #ededed; padding: 15px 0;}
.open_wrap .open_info li:last-of-type { border: none; padding-bottom: 0;}
.open_wrap .open_info li .open_stit {width: 150px; font-family: "Pretendard-Medium";}
.open_wrap .open_info li .open_txt {width: calc(100% - 150px);}
.open_wrap .open_box {box-shadow: 0 5px 15px #f2f2f2; padding: 60px; border-radius: 5px; border: 1px solid #f5f5f5;}
.open_wrap .open_box > div {border-bottom: 1px solid #ededed; margin-bottom: 30px; padding-bottom: 30px; text-align: left;}
.open_wrap .open_box > div:last-of-type {border: none; margin-bottom: 0; padding-bottom: 0;}
.open_wrap .open_top {display: flex;}
.open_wrap .open_top .left .ib_main_img {position: relative;}

.open_wrap .img_box_main {width: 250px; height: 250px; border: 1px solid #ededed; border-radius: 4px;}

.open_wrap .open_top .left .img_main_btn {width: 80px; height: 80px; line-height: 80px;}
.open_wrap .open_top .left .img_main_btn img {width: 30px; margin-bottom: 6px;}

.open_wrap .open_top .o_box1 .open_txt {display: flex;}
.open_wrap .open_top .o_box1 .open_txt select { width: 150px; margin-right: 5px;}
.open_wrap .open_top .o_box1 .open_txt input {width: calc(100% - 155px);}
.open_wrap .open_top .o_box2 .open_txt {display: flex; flex-wrap: wrap;}
.open_wrap .open_top .o_box2 .open_txt > div {width: calc(50% - 2.5px); margin-right: 5px;}
.open_wrap .open_top .o_box2 .open_txt > div:nth-of-type(2) {margin-right: 0;}
.open_wrap .open_top .o_box2 .open_txt > div.inquiry_email {width: 100%; margin-right: 0; margin-top: 5px; display: flex; align-items: center;}
.open_wrap .open_top .o_box2 .open_txt > div.inquiry_email input {margin-right: 5px;}
.open_wrap .open_top .o_box2 .open_txt > div.inquiry_email #txtEmail{width: calc(100% - 435px);}
.open_wrap .open_top .o_box2 .open_txt > div.inquiry_email .email_at {display: inline-block; width: 20px; text-align: center; margin-right: 5px;}
.open_wrap .open_top .o_box2 .open_txt > div.inquiry_email #selectEmail2 {width: 200px; padding: 0 15px;}
.open_wrap .open_top .o_box2 .open_txt > div.inquiry_email select {width: 200px;}
.open_wrap .open_top .o_box2 .inquiry_call {position: relative;}
.open_wrap .open_top .o_box2 .inquiry_call span {position: absolute; top: 50%; left: 10px; transform: translateY(-50%); font-size: 14px; color: #777; display: inline-block; width: 68px; background-color: #f5f5f5; padding: 5px; border-radius: 3px; text-align: center;}
.open_wrap .open_top .o_box2 .inquiry_call input {padding: 0 15px 0 86px; width: 100%;}
.open_wrap .open_top .o_box3 {padding-bottom: 20px !important;}
.open_wrap .open_top .o_box3 input {width: 100%;}
.open_wrap .open_top .o_box3 .open_txt {position: relative;}
.open_wrap .open_top .o_box3 .text_check {position: absolute; bottom: -20px; right: 0; font-size: 13px; color: #888; }
.open_wrap .open_top .o_box3 .text_check span {font-size: 13px; color: #888; }
.open_wrap .od_con {display: flex;}
.open_wrap .od_con .dimg_up {width: 250px; display: grid; grid-template-columns: 1fr 1fr; grid-gap: 5px;}
.open_wrap .od_con .dimg_up .dimg_box {border: 1px solid #ededed; width: 122px; height: 122px; position: relative; border-radius: 4px;}
.open_wrap .od_con .dimg_up .dimg_box .img_box_sub {display: inline-block; width: 100%;
  height: 100%;}
.open_wrap .od_con .dimg_up .dimg_box .dimg_up_btn {width: 50px; height: 50px; line-height: 50px;}
.open_wrap .od_con .dimg_up .dimg_box .dimg_up_btn img {margin-bottom: 3px;}

.open_wrap .od_con .dtxt_box {width: calc(100% - 250px); padding-left: 80px;}
.open_wrap .od_con textarea {width: 100%; font-size: 14px; height: calc(100% - 40px);}

.open_wrap .open_date .open_info_con {display: flex; flex-wrap: wrap; border-bottom: 1px dashed #ededed; padding-bottom: 15px;}
.open_wrap .open_date .open_info_con > ul {width: calc(50% - 40px); margin-right: 80px;}
.open_wrap .open_date .open_info_con > ul:last-of-type {margin-right: 0;}
.open_wrap .open_date .open_info li {flex-wrap: wrap;}
.open_wrap .open_date .open_info li input[type="text"]{width: calc(100% - 150px);}
.open_wrap .open_date .over_stit i {font-style: normal;} 
.open_wrap .open_date .over_stit {position: relative;}
.open_wrap .open_date .over_stit .explain_mark {width: 18px;height: 18px;border: 1px solid #e5e5e5;display: inline-block;text-align: center;font-size: 14px;padding: 1px;border-radius: 3px; cursor: pointer;}
.open_wrap .open_date .over_stit .explain_mark:hover .explain_txt {display: block;}
.open_wrap .open_date .over_stit .explain_txt {position: absolute;top: 23px;font-size: 13px;background-color: #fff;border: 1px solid #ededed;padding: 12px;width: 212px;line-height: 18px;left: 0; display: none; text-align: left;}
.open_wrap .open_date .open_txt {position: relative;}
.open_wrap .open_date .open_txt img {position: absolute;top: 50%;left: 12px;transform: translateY(-50%);width: 22px;}
.open_wrap .open_date .open_info .open_txt input.form-control {width: 100%;padding: 0 15px 0 45px;}
.open_wrap .open_date .open_npadding {padding-left: 150px;}

.open_wrap .open_map {display: flex;}
.open_wrap .open_map ul {width: calc(50% - 40px); margin-right: 80px;}
.open_wrap .open_map > ul:last-of-type {margin-right: 0;}

.open_wrap .open_map .map_right {width: calc(100% - 150px);}
.open_wrap .open_map .open_info .map_right input[type="text"] {width: 100%;}
.open_wrap .open_map .open_info .map_right .map_search {display: flex; margin-bottom: 5px;}
.open_wrap .open_map .open_info .map_right .map_search input {width: calc(100% - 85px); margin-right: 5px;}
.open_wrap .open_map .open_info .map_right .map_search .addr_btn {width: 80px; background-color: #181818; color: #fff; border-radius: 4px; display: inline-block; cursor: pointer; text-align: center; font-size: 14px; height: 40px; line-height: 40px;}
.open_wrap .open_map .open_info .map_right #addr_detail {margin-bottom: 5px;}
.open_wrap .open_map .open_info .map_section {border: 1px solid #ededed; width: 100%; height: 400px;}

.open_wrap .open_map .open_info .expose_wrap {width: calc(100% - 150px);}
.open_wrap .open_map .open_info .ex_px_wrap {display: flex; align-items: center; margin-top: 15px;}
.open_wrap .open_map .open_info .ex_px_wrap label {width: 115px;}
.open_wrap .open_map .open_info .ex_px_wrap .url_pw {width: calc(100% - 115px);}

.intro_wrap .tag_wrap {display: flex; flex-wrap: wrap; align-items: center; border: 1px solid #ebebeb; border-radius: 4px; height: 40px; padding: 0 14px; width: 100%;}
.intro_wrap .tag_wrap #input_tag {padding: 0; flex-grow: 1; height: auto; border: none; outline: none; width: auto;}
.intro_wrap .tag_wrap .hash_tag {display: inline-flex; background-color: #f0f0f0; padding: 3px 6px; border-radius: 3px; margin-right: 5px; font-size: 14px;}
.intro_wrap .tag_wrap .hash_tag img {width: 15px; margin-left: 5px; cursor: pointer;}
