
@{ 

   var name =  HttpUtility.UrlDecode(Damoyeo.Util.Manager.UserManager.GetCookie().Nickname);
}
<div class="my_left">
    <div class="my_sticky">
        <div class="my_profile my_box">
            <div class="my_photo">
                <p>
                    <img src="~/Content/images/profile.png" alt="">

                </p>
                <span><img src="~/Content/images/camera.svg" alt=""></span>
            </div>
            <p><span>@name</span><br>환영합니다.</p>
        </div>
        <div class="my_move my_box">
            <p class="move_tit">마이페이지</p>
            <ul>
                <li>
                    <a href="/User/Index" class="on">회원정보수정</a>
                </li>
                <li>
                    <a href="/User/Opening">개설한 소모임</a>
                </li>
                <li>
                    <a href="/User/Join">참여한 소모임</a>
                </li>
                <li>
                    <a href="/User/Wish">찜 목록</a>
                </li>
            </ul>
        </div>
    </div>
</div>