.admin_contents {
  display: flex;
  margin-top: 80px;
}
.admin_contents .left_menu {
  border-right: 1px solid #ededed;
  width: 250px;
  position: fixed;
  top: 80px;
  left: 0;
  bottom: 0;
}
.admin_contents .left_menu ul {
  padding: 30px 20px;
}
.admin_contents .left_menu a {
  width: 100%;
  padding: 15px 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
}
.admin_contents .left_menu a:hover {
  color: #0064ff;
  transition: 0.3s;
}
.admin_contents .left_menu a img {
  margin-right: 20px;
  height: 23px;
}
.admin_contents .left_menu .left_bottom {
  position: absolute;
  bottom: 0;
  padding: 30px 20px;
  width: 100%;
}
.admin_contents .left_menu .left_bottom .admin_logout {
  background: #e9f2fc;
  color: #0064ff;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 5px;
}
.admin_contents .right_con {
  /* position: fixed; */
  /* top: 80px; */
  /* right: 0; */
  /* bottom: 0; */
  /* overflow-x: auto; */
  width: calc(100% - 250px);
  padding: 50px;
  margin-left: 250px;
}
.ad_con_tit {
  font-family: "Pretendard-Bold";
  font-size: 26px;
  margin-bottom: 30px;
}
.list_common {
  display: flex;
  border-bottom: 1px solid #efefef;
}
.list_common:last-of-type {
  border: none;
}
.list_common li {
  font-size: 14px;
  width: 100%;
}
.list_tit li {
  color: #c2c2c7;
  font-family: "Pretendard-Light";
}
