.com_wrap .list_common li:nth-of-type(1) {width: 40%;}
.com_wrap .list_common li:nth-of-type(2) {width: 15%;}
.com_wrap .list_common li:nth-of-type(3) {width: 15%;}
.com_wrap .list_common li:nth-of-type(4) {width: 15%;}
.com_wrap .list_common li:nth-of-type(5) {width: 15%;}


@media screen and (max-width: 787px) {    .com_wrap .list_common li:nth-of-type(1),
    .com_wrap .list_common li:nth-of-type(2),
    .com_wrap .list_common li:nth-of-type(3),
    .com_wrap .list_common li:nth-of-type(4),
    .com_wrap .list_common li:nth-of-type(5) {width: 100%;}

    .com_wrap .list_common li::before {display: inline-block; font-size: 14px; width: 100px;}
    .com_wrap .list_common li:nth-of-type(1)::before {content: "제목 : ";} 
    .com_wrap .list_common li:nth-of-type(2)::before {content: "작성자 : ";} 
    .com_wrap .list_common li:nth-of-type(3)::before {content: "댓글수 : ";} 
    .com_wrap .list_common li:nth-of-type(4)::before {content: "조회수 : ";} 

    .com_wrap .list_common li a {width: calc(100% - 100px); text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
}
@media screen and (max-width: 374px) {
}