
@{
    ViewBag.Title = "마이페이지";
}

@section style
{
    <link rel="stylesheet" href="~/Content/css/mypage.css" />
}
<div class="section_wrap mypage_wrap">
    <div class="inner sub_inner">
        <!-- 래프트 고정 -->
        @Html.Partial("_Partial/_Left")

        <div class="my_right my_box my_modify">
            <!-- 비밀번호 입력 후 회원정보 수정 페이지 나옴 -->
            <form action="/Auth/CheckPassword" id="myform" method="post">
                <div class="lock_section">
                    <span class="lock_icon">
                        <img src="~/Content/images/lock.svg" alt="">
                    </span>
                    <!-- 일반 회원가입일 경우 -->
                    <div>
                        <p class="lock_notice">개인정보 보호를 위해<br><span>비밀번호를 다시 한번 입력</span>해주세요.</p>
                        <input type="password" id="password" name="password" class="now_pw" placeholder="비밀번호 입력">
                        <span class="big_btn pw_chk_btn" id="check_pw_btn">확인</span>
                    </div>
                </div>
            </form>


        </div>

    </div>

</div>

<script>
    $("#check_pw_btn").on("click", function () {

        if ($("#password").val() == "") {
            alertFocus("비밀번호를 입력해주세요", $('#password'));
            return false;
        }

        $("#myform").submit();
    });
</script>