
@{
    ViewBag.Title = "마이페이지";
}

@section style
{
    <link rel="stylesheet" href="~/Content/css/mypage.css" />
}
<div class="section_wrap mypage_wrap">
    <div class="inner sub_inner">
        <!-- 래프트 고정 -->
        @Html.Partial("_Partial/_Left")

        <div class="my_right my_box my_modify">
            <!-- 비밀번호 입력 후 회원정보 수정 페이지 나옴 -->
            <form action="/Auth/CreatePassword" id="myform" method="post">
                <div class="lock_section">
                    <span class="lock_icon">
                        <img src="~/Content/images/lock.svg" alt="">
                    </span>
                    <!-- 카카오 가입자일 경우 -->
                    <div>
                        <p class="lock_notice">개인정보 보호를 위해<br><span>비밀번호를 생성</span>해 주세요.</p>
                        <input type="password" id="password" class="new_pw" name="password" placeholder="비밀번호 입력">
                        <input type="password" id="confirm_password" class="newchk_pw" placeholder="비밀번호 확인">
                        <span class="big_btn kakao_pw_btn" id="create_pw_btn">생성하기</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script>

        function PwCheck() {
            var password = $("#password").val();
            var confirmPassword = $("#confirm_password").val();

            if (password == confirmPassword) {
                return true;
            } else {
                return false;
            }
        }

        $("#create_pw_btn").on("click", function () {

            if ($("#password").val() == "") {
                alertFocus("비밀번호를 입력해주세요", $('#password'));
                return false;
            }

            if (!PwCheck()) {
                alertFocus("비밀번호와 확인값이 일치하지 않습니다.", $('#password'));
                return false;
            }

            $("#myform").submit();
        });
    </script>
}

