
@{
    ViewBag.Title = "Login";
    var returnUrl = ViewData["returnUrl"] as string;
}

@section style{
    <link rel="stylesheet" href="~/Content/css/login.css" />
}

<form id="myform" action="/auth/login" method="post">
    <input type="hidden" value="@returnUrl">
    <div class="section_wrap login_wrap">
        <div class="inner sub_inner">
            <div class="login_box">
                <h3 class="section_title">로그인</h3>
                <div class="l_input_wrap">
                    <span>아이디</span>
                    <input type="text"
                           name="email"
                           id="email"
                           placeholder="아이디를 입력해주세요." />
                </div>
                <div class="l_input_wrap">
                    <span>비밀번호</span>
                    <input type="password"
                           name="password"
                           id="password"
                           placeholder="비밀번호를 입력해주세요." />
                </div>
                <div class="id_pw_find">
                    <a href="/Auth/FindPassword">비밀번호 찾기</a>
                </div>
                <span class="damoyeo_btn login_btn" onclick="login();">로그인</span>
                <span class="kakao_btn login_btn" onclick="loginKakao();">
                    <img src="images/kakao.svg" alt="">
                    카카오로 3초만에 시작하기
                </span>
                <div class="mem_join">
                    <span>우리의 소소한 즐거움,</span>
                    <a href="/Auth/Signup">다모여 가입하기</a>
                </div>
            </div>
        </div>
    </div>
</form>



@section scripts{
    @Html.Partial("~/Views/Shared/_Partial/_SweetAlert.cshtml")

    <script>
        function login() {
            if ($("#email").val() == "") {
                alertFocus("이메일을 입력해주세요", $('#email'));
                return false;
            }

            if ($("#password").val() == "") {
                alertFocus("비밀번호를 입력해주세요", $('#password'));
                return false;
            }
            $("#myform").submit();
        }


        function loginKakao() {
            location.href = "https://kauth.kakao.com/oauth/authorize?client_id=6fdb7adf5e19747b49b3d6585e26de48&redirect_uri=@Damoyeo.Util.StringUtil.GetAppSetting("BaseUrl")/Auth/CallBack&response_type=code";
        }
    </script>


}