
@{
    ViewBag.Title = "Write";
}

@section style
{
    <link rel="stylesheet" href="~/Content/css/open.css" />
    <link rel="stylesheet" href="~/Content/css/daterangepicker.css" />
}
<div class="section_wrap open_wrap">
    <div class="inner sub_inner">
        <h3 class="section_title">모임개설하기</h3>

        <div class="open_box">
            <div class="open_top">
                <div class="left">
                    <p class="open_tit">대표 이미지 업로드</p>
                    <div class="ib_main_img">
                        <div class="img_box_main img_common_box"></div>
                        <span class="img_main_btn img_up_btn" id="m_img_up">
                            <label for="file_upload">
                                <img src="/Content/images/upload.svg" alt="" class="up_img">
                                <input type="file" id="file_upload" style="display: none;">
                            </label>
                        </span>
                    </div>
                </div>
                <div class="right">
                    <p class="open_tit">기본정보 <span>(필수)</span></p>
                    <ul class="open_info">
                        <li class="o_box1">
                            <span class="open_stit">카테고리 / 모임명</span>
                            <div class="open_txt">
                                <select name="" id="">
                                    <option value="">카테고리선택</option>
                                </select>
                                <input type="text" placeholder="모임명을 입력해주세요." />
                            </div>
                        </li>
                        <li class="o_box2">
                            <span class="open_stit">문의 연락처</span>
                            <div class="open_txt">
                                <div class="inquiry_call">
                                    <span>담당자명</span>
                                    <input type="text" />
                                </div>
                                <div class="inquiry_call">
                                    <span>전화번호</span>
                                    <input type="text" />
                                </div>
                                <div class="inquiry_call inquiry_email">
                                    <span>이메일</span>
                                    <input type="text" id="txtEmail" value="" />
                                    <p class="email_at">@@</p>
                                    <input type="text" id="selectEmail2" value="">
                                    <select id="selectEmail">
                                        <option value="1" selected="">직접입력</option>
                                        <option value="naver.com">naver.com</option>
                                        <option value="hanmail.net">hanmail.net</option>
                                        <option value="gmail.com">gmail.com</option>
                                    </select>
                                </div>
                                <p class="open_notice">＊ 모임 종료 전까지 연락처가 노출되며, 임의로 입력한 경우 개인정보 도용으로 처벌받을 수 있습니다.</p>
                            </div>
                        </li>
                        <li class="o_box3">
                            <span class="open_stit">모임소개</span>
                            <div class="open_txt">
                                <input id="introInput" type="text" placeholder="소모임을 간단히 한줄로 소개해주세요. (100자 이내)" />
                                <div class="text_check">
                                    <span id="charCount">0</span> / 100
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="open_detail">
                <div class="od_con">
                    <div>
                        <p class="open_tit">상세 이미지 업로드</p>
                        <div class="dimg_up">
                            <div class="dimg_box">
                                <div class="img_box_sub img_common_box"></div>
                                <label for="d_file_upload1" class="dimg_up_btn img_up_btn" id="d_img_up1">
                                    <img src="/Content/images/upload.svg" alt="">
                                    <input type="file" id="d_file_upload1" style="display: none;">
                                </label>
                            </div>
                            <div class="dimg_box">
                                <div class="img_box_sub img_common_box"></div>
                                <label for="d_file_upload2" class="dimg_up_btn img_up_btn" id="d_img_up2">
                                    <img src="/Content/images/upload.svg" alt="">
                                    <input type="file" id="d_file_upload2" style="display: none;">
                                </label>
                            </div>
                            <div class="dimg_box">
                                <div class="img_box_sub img_common_box"></div>
                                <label for="d_file_upload3" class="dimg_up_btn img_up_btn" id="d_img_up3">
                                    <img src="/Content/images/upload.svg" alt="">
                                    <input type="file" id="d_file_upload3" style="display: none;">
                                </label>
                            </div>
                            <div class="dimg_box">
                                <div class="img_box_sub img_common_box"></div>
                                <label for="d_file_upload4" class="dimg_up_btn img_up_btn" id="d_img_up4">
                                    <img src="/Content/images/upload.svg" alt="">
                                    <input type="file" id="d_file_upload4" style="display: none;">
                                </label>
                            </div>
                        </div>


                    </div>

                    <div class="dtxt_box">
                        <p class="open_tit">상세정보 <span>(필수)</span></p>
                        <textarea name=""
                                  id=""
                                  cols="30"
                                  rows="10"
                                  placeholder="내용을 입력해주세요."></textarea>
                    </div>
                </div>
            </div>

            <div class="open_date">
                <p class="open_tit">그룹정보 <span>(필수)</span></p>

                <div class="open_info_con">
                    <ul class="open_info">
                        <li>
                            <span class="open_stit">모임기간</span>
                            <div class="open_txt">
                                <img src="/Content/images/calendar.svg" alt="">
                                <input type="text" name="dates" class="form-control">
                            </div>
                        </li>
                        <li>
                            <span class="open_stit">신청기간</span>
                            <div class="open_txt">
                                <img src="/Content/images/calendar.svg" alt="">
                                <input type="text" name="dates" class="form-control">
                            </div>
                            <p class="open_notice open_npadding">＊ 참여 신청 및 취소는 신청기간에만 가능합니다.</p>
                        </li>
                    </ul>
                    <ul class="open_info">
                        <li>
                            <span class="open_stit">모집 정원 입력</span>
                            <input type="text" id="memberInput" placeholder="모임의 정원을 입력해주세요.">
                        </li>
                        <li>
                            <p class="open_stit over_stit">
                                정원초과 모집
                                <span class="explain_mark">
                                    ?
                                    <i class="explain_txt">
                                        정원이 초과된 경우에도 추가 신청을 받을지 여부를 선택할 수 있습니다.
                                    </i>
                                </span>
                            </p>
                            <div>
                                <label for="agree1" class="radio_box">
                                    <input type="radio" id="agree1" name="agree" checked="checked">허용
                                </label>
                                <label for="agree2" class="radio_box">
                                    <input type="radio" id="agree2" name="agree">허용안함
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="open_map">
                    <ul class="open_info">
                        <li>
                            <span class="open_stit">주소</span>
                            <div class="map_right">
                                <div class="map_search">
                                    <input type="text" name="addr_name" value="" id="addr_name" placeholder="읍/면/동을 입력해주세요.">
                                    <span class="addr_btn">검색</span>
                                </div>
                                <div>
                                    <input type="text" name="addr_detail" id="addr_detail" placeholder="상세 주소를 입력해주세요." value="">
                                </div>
                                <div id="map" class="map_section"></div>
                            </div>
                        </li>
                    </ul>
                    <ul class="open_info">
                        <li>
                            <span class="open_stit">모임 노출 설정</span>
                            <div class="expose_wrap">
                                <div>
                                    <label for="expose1" class="radio_box">
                                        <input type="radio" id="expose1" name="expose" checked="checked">노출
                                    </label>
                                    <label for="expose2" class="radio_box">
                                        <input type="radio" id="expose2" name="expose">미노출
                                    </label>
                                </div>
                                <div class="ex_px_wrap">
                                    <label for="ex_pw" class="check_box">
                                        <input type="checkbox" id="ex_pw" name="ex_pw">비밀번호 설정
                                    </label>
                                    <input type="text" name="" id="url_pw" class="url_pw" placeholder="사용할 비밀번호 네자리를 입력해주세요.">
                                </div>
                                <p class="open_notice">＊ 모임 미노출 시, URL로만 접근 가능합니다.</p>
                                <p class="open_notice">＊ 비밀번호 사용 시 비밀번호를 입력해야만 접근이 가능합니다.</p>
                            </div>
                        </li>
                        <li>
                            <span class="open_stit">청소년 접근제한</span>
                            <div>
                                <label for="age_check" class="check_box">
                                    <input type="checkbox" id="age_check" name="age_check">만 19세 미만 접근제한
                                </label>
                                <p class="open_notice">＊ 설정 시 반드시 성인인증을 해야 모임 페이지에 접근이 가능합니다.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="intro_wrap">
                <p class="open_tit">모임 알리기</p>

                <ul class="open_info interest_wrap">
                    <li>
                        <span class="open_stit">모임 카테고리</span>
                        <div class="open_txt">
                            <div class="inter_box">
                                <div class="inter_check">
                                    <label for="interest1" class="check_box">
                                        <input type="checkbox" id="interest1" name="interest">교육/어학
                                    </label>
                                    <label for="interest2" class="check_box">
                                        <input type="checkbox" id="interest2" name="interest">취업/자격증
                                    </label>
                                    <label for="interest3" class="check_box">
                                        <input type="checkbox" id="interest3" name="interest">여행
                                    </label>
                                    <label for="interest4" class="check_box">
                                        <input type="checkbox" id="interest4" name="interest">스포츠/운동
                                    </label>
                                    <label for="interest5" class="check_box">
                                        <input type="checkbox" id="interest5" name="interest">요리/음식
                                    </label>
                                    <label for="interest6" class="check_box">
                                        <input type="checkbox" id="interest6" name="interest">문화/예술
                                    </label>
                                    <label for="interest7" class="check_box">
                                        <input type="checkbox" id="interest7" name="interest">영화/음악
                                    </label>
                                    <label for="interest8" class="check_box">
                                        <input type="checkbox" id="interest8" name="interest">기타
                                    </label>
                                </div>
                                <p class="open_notice">＊ 선택한 항목에 해당하는 사용자들에게 모임이 추천됩니다. (다중 선택 가능)</p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <span class="open_stit">모임 태그</span>
                        <div class="open_txt">
                            <div class="tag_wrap">
                                <input type="text" id="input_tag" placeholder="태그를 입력해주세요.">
                            </div>
                            <p class="open_notice">＊ 태그를 엔터로 구분하여 입력해주세요.</p>
                            <p class="open_notice">＊ 모임태그 입력 시 태그별 모아보기가 가능하고 검색 결과에도 반영됩니다.</p>
                        </div>
                    </li>

                    <li>
                        <span class="open_stit">출석체크 설정</span>
                        <div class="open_txt">
                            <input type="text" id="attend" placeholder="출석 확인용 비밀번호를 입력해주세요.">
                            <p class="open_notice">＊ 출석 확인용 번호는 신청자의 출석 확인을 위한 비밀번호입니다.</p>
                        </div>
                    </li>
                </ul>



            </div>

            <span class="maker_btn big_btn">모임 개설하기</span>
        </div>
    </div>
</div>

@section scripts{


    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2c03537489f069ffcb99fac73dd5028f"></script>

    <script>


        var ddd = [
            [
                [
                    [
                        127.15009172718628,
                        37.5930612356435
                    ],
                    [
                        127.15008050382926,
                        37.593052330274446
                    ],
                    [
                        127.15002378850578,
                        37.59300735245542
                    ],
                    [
                        127.15001246561486,
                        37.59300736670009
                    ],
                    [
                        127.14996686982796,
                        37.592854256816835
                    ],
                    [
                        127.14996645823567,
                        37.59264703107077
                    ],
                    [
                        127.149932400271,
                        37.5926020247084
                    ],
                    [
                        127.14994359785355,
                        37.59253894176422
                    ],
                    [
                        127.14988676912708,
                        37.592430895151615
                    ],
                    [
                        127.14980733074239,
                        37.59234089659142
                    ],
                    [
                        127.14972789254918,
                        37.592250897976
                    ],
                    [
                        127.14969370987488,
                        37.592142822828755
                    ],
                    [
                        127.14970494331817,
                        37.592097759534326
                    ],
                    [
                        127.14967083218447,
                        37.592025723642635
                    ],
                    [
                        127.14964806170465,
                        37.59196268334817
                    ],
                    [
                        127.14963668540669,
                        37.59193566810722
                    ],
                    [
                        127.14960261011498,
                        37.59188165182659
                    ],
                    [
                        127.14956858841282,
                        37.591854664985355
                    ],
                    [
                        127.14953454889262,
                        37.59181866831747
                    ],
                    [
                        127.14950049156673,
                        37.59177366182275
                    ],
                    [
                        127.1494663272759,
                        37.591674596416624
                    ],
                    [
                        127.14948872293664,
                        37.591548430593996
                    ],
                    [
                        127.14948865158898,
                        37.59151239132549
                    ],
                    [
                        127.14948861591519,
                        37.5914943716912
                    ],
                    [
                        127.14951113636202,
                        37.591431274581765
                    ],
                    [
                        127.14953347182954,
                        37.5912690694616
                    ],
                    [
                        127.14953332909259,
                        37.59119699092117
                    ],
                    [
                        127.14951035142906,
                        37.59103484260895
                    ],
                    [
                        127.1495099946464,
                        37.590854646248786
                    ],
                    [
                        127.14937415951033,
                        37.590872836149785
                    ],
                    [
                        127.14918171145398,
                        37.5908910967269
                    ],
                    [
                        127.14892129232446,
                        37.59089142220609
                    ],
                    [
                        127.14868353607248,
                        37.59090072869938
                    ],
                    [
                        127.14857029262156,
                        37.59089185998636
                    ],
                    [
                        127.1484457266273,
                        37.59088300525833
                    ],
                    [
                        127.14834382351552,
                        37.590883141062626
                    ],
                    [
                        127.14820789961125,
                        37.590856271519286
                    ],
                    [
                        127.14815119840497,
                        37.59081129276376
                    ],
                    [
                        127.14813989351968,
                        37.59082031664686
                    ],
                    [
                        127.14806065325986,
                        37.59082942488567
                    ],
                    [
                        127.14760789165248,
                        37.590902064816255
                    ],
                    [
                        127.14738151051671,
                        37.590938384130645
                    ],
                    [
                        127.14691741366846,
                        37.59101103541878
                    ],
                    [
                        127.1466344765148,
                        37.59106544263076
                    ],
                    [
                        127.14641940568687,
                        37.5911017461949
                    ],
                    [
                        127.14635148750338,
                        37.591110830377716
                    ],
                    [
                        127.14584212684085,
                        37.59119255181611
                    ],
                    [
                        127.14577420852109,
                        37.5912016446768
                    ],
                    [
                        127.14568366232082,
                        37.59121977497633
                    ],
                    [
                        127.14553650295089,
                        37.59123797429115
                    ],
                    [
                        127.14547985511818,
                        37.591220023710285
                    ],
                    [
                        127.14494706944392,
                        37.59089631801583
                    ],
                    [
                        127.14464099765743,
                        37.59070748285098
                    ],
                    [
                        127.14442562813218,
                        37.59058160600305
                    ],
                    [
                        127.14432358768607,
                        37.59050965076072
                    ],
                    [
                        127.143926836166,
                        37.590266864344144
                    ],
                    [
                        127.14341676017457,
                        37.58997015380714
                    ],
                    [
                        127.1432580581625,
                        37.58987123620514
                    ],
                    [
                        127.1427819716722,
                        37.5895834919266
                    ],
                    [
                        127.14247591072395,
                        37.58939465108376
                    ],
                    [
                        127.14220385219272,
                        37.589223788608365
                    ],
                    [
                        127.14216985132119,
                        37.58920580943818
                    ],
                    [
                        127.14206781492277,
                        37.58913385222087
                    ],
                    [
                        127.14197710101796,
                        37.58906188144252
                    ],
                    [
                        127.14188637036891,
                        37.58898090076916
                    ],
                    [
                        127.14182962364691,
                        37.58890888947978
                    ],
                    [
                        127.14176152096347,
                        37.588818871965344
                    ],
                    [
                        127.14152309536539,
                        37.58846777104215
                    ],
                    [
                        127.14104623408245,
                        37.58775655784833
                    ],
                    [
                        127.1410121669055,
                        37.587702539033096
                    ],
                    [
                        127.140932710624,
                        37.58759451474344
                    ],
                    [
                        127.14086471099105,
                        37.58755855564673
                    ],
                    [
                        127.14203051158974,
                        37.58735895711226
                    ],
                    [
                        127.14202998661459,
                        37.58707966149471
                    ],
                    [
                        127.14202959707511,
                        37.5868724174526
                    ],
                    [
                        127.14202600705342,
                        37.58496234277954
                    ],
                    [
                        127.14202571918757,
                        37.5848091756648
                    ],
                    [
                        127.14186653948428,
                        37.58444897098636
                    ],
                    [
                        127.1417528333954,
                        37.58418782042717
                    ],
                    [
                        127.14171848011499,
                        37.58398063464229
                    ],
                    [
                        127.1415708445508,
                        37.58373754388125
                    ],
                    [
                        127.14138926244128,
                        37.58350350300337
                    ],
                    [
                        127.14129869079538,
                        37.58350361028145
                    ],
                    [
                        127.141173969654,
                        37.58340464951442
                    ],
                    [
                        127.14108329721427,
                        37.583350697629314
                    ],
                    [
                        127.14099265852093,
                        37.58331476534
                    ],
                    [
                        127.14067552439627,
                        37.58324306077646
                    ],
                    [
                        127.14058496983851,
                        37.58325218634948
                    ],
                    [
                        127.14043772442301,
                        37.5832163112938
                    ],
                    [
                        127.14025639790998,
                        37.583117416149385
                    ],
                    [
                        127.14007502178507,
                        37.58299149122205
                    ],
                    [
                        127.1398823916061,
                        37.582901618618806
                    ],
                    [
                        127.13972372594489,
                        37.582811705941324
                    ],
                    [
                        127.13968959538487,
                        37.58272164735465
                    ],
                    [
                        127.13938396909349,
                        37.58274903423606
                    ],
                    [
                        127.13934995523763,
                        37.582722044392035
                    ],
                    [
                        127.13922547029887,
                        37.58274921923152
                    ],
                    [
                        127.13894275138267,
                        37.58292073590883
                    ],
                    [
                        127.13888650872339,
                        37.5831190181473
                    ],
                    [
                        127.13883013338965,
                        37.583245221681146
                    ],
                    [
                        127.1388190105221,
                        37.58335335285646
                    ],
                    [
                        127.1388418519746,
                        37.583461444524325
                    ],
                    [
                        127.13879726099572,
                        37.58383991019784
                    ],
                    [
                        127.13880869831831,
                        37.583902965863125
                    ],
                    [
                        127.13872967919289,
                        37.58402919566488
                    ],
                    [
                        127.13861666208992,
                        37.58413744519623
                    ],
                    [
                        127.13850362815143,
                        37.58423668478535
                    ],
                    [
                        127.13843591324625,
                        37.58435389141438
                    ],
                    [
                        127.13839069288215,
                        37.58438998325994
                    ],
                    [
                        127.13836806619157,
                        37.58439901934377
                    ],
                    [
                        127.1383227963072,
                        37.58440808166597
                    ],
                    [
                        127.13809647963897,
                        37.58447141268159
                    ],
                    [
                        127.13792673777563,
                        37.5845166582005
                    ],
                    [
                        127.13792703367989,
                        37.584678835181435
                    ],
                    [
                        127.13794330425226,
                        37.587390780946265
                    ],
                    [
                        127.13794335358054,
                        37.587417810430125
                    ],
                    [
                        127.13794383042394,
                        37.5876790954343
                    ],
                    [
                        127.13794417572814,
                        37.58786830180931
                    ],
                    [
                        127.13790692614899,
                        37.59227415800997
                    ],
                    [
                        127.13809944643505,
                        37.59229195508814
                    ],
                    [
                        127.13823535285687,
                        37.59230981743669
                    ],
                    [
                        127.1382579984389,
                        37.5923097912061
                    ],
                    [
                        127.13829196681189,
                        37.592309751852106
                    ],
                    [
                        127.13832593518481,
                        37.59230971248833
                    ],
                    [
                        127.1383599035577,
                        37.592309673114784
                    ],
                    [
                        127.13839388843049,
                        37.59231864355167
                    ],
                    [
                        127.1384278568073,
                        37.59231860415855
                    ],
                    [
                        127.13846182518407,
                        37.592318564755665
                    ],
                    [
                        127.1384957935608,
                        37.592318525343
                    ],
                    [
                        127.1385297619374,
                        37.592318485920565
                    ],
                    [
                        127.138563730314,
                        37.59231844648836
                    ],
                    [
                        127.13859768216595,
                        37.5923093972262
                    ],
                    [
                        127.1386316505383,
                        37.592309357774454
                    ],
                    [
                        127.1386656189106,
                        37.592309318312935
                    ],
                    [
                        127.1386882644921,
                        37.59230929199981
                    ],
                    [
                        127.13880147584993,
                        37.592300150548965
                    ],
                    [
                        127.13882445246638,
                        37.59248032060884
                    ],
                    [
                        127.13883592426323,
                        37.592561395815245
                    ],
                    [
                        127.13866651168802,
                        37.59279584858003
                    ],
                    [
                        127.13864389901987,
                        37.59281389452805
                    ],
                    [
                        127.13867788415594,
                        37.592822864881896
                    ],
                    [
                        127.13855359691425,
                        37.59296716664939
                    ],
                    [
                        127.13855379515,
                        37.593075284478395
                    ],
                    [
                        127.1385202393216,
                        37.593300569379366
                    ],
                    [
                        127.13849769251806,
                        37.593354654572614
                    ],
                    [
                        127.13847504661963,
                        37.5933546808498
                    ],
                    [
                        127.13835049417789,
                        37.59335482529655
                    ],
                    [
                        127.13833930318067,
                        37.5934269169703
                    ],
                    [
                        127.13826063590525,
                        37.59375136227463
                    ],
                    [
                        127.13818191852454,
                        37.59404877805703
                    ],
                    [
                        127.13819368645534,
                        37.59429203001807
                    ],
                    [
                        127.1382055698152,
                        37.59459835068549
                    ],
                    [
                        127.13821718959369,
                        37.594760514272785
                    ],
                    [
                        127.13793529466273,
                        37.5954095485246
                    ],
                    [
                        127.13791274680389,
                        37.59546363358874
                    ],
                    [
                        127.13791287835467,
                        37.595535712112806
                    ],
                    [
                        127.13790170305764,
                        37.59561681353504
                    ],
                    [
                        127.13790171950022,
                        37.59562582335036
                    ],
                    [
                        127.13790183459848,
                        37.595688892057275
                    ],
                    [
                        127.13790198258249,
                        37.59576998039371
                    ],
                    [
                        127.13790219633822,
                        37.5958871079888
                    ],
                    [
                        127.13789153066807,
                        37.596247513657296
                    ],
                    [
                        127.13789156355152,
                        37.596265533286
                    ],
                    [
                        127.1377784810561,
                        37.59642943561907
                    ],
                    [
                        127.13771038638156,
                        37.596506458181025
                    ],
                    [
                        127.13768380770914,
                        37.59656099833401
                    ],
                    [
                        127.13747908766571,
                        37.59684552156937
                    ],
                    [
                        127.13724637066653,
                        37.59724028489838
                    ],
                    [
                        127.13722326999346,
                        37.59723995106596
                    ],
                    [
                        127.13725808566794,
                        37.59727682404472
                    ],
                    [
                        127.13726007443417,
                        37.59727893032838
                    ],
                    [
                        127.1370393145905,
                        37.59756235399455
                    ],
                    [
                        127.13700267492719,
                        37.59775167459159
                    ],
                    [
                        127.13699604929435,
                        37.597907101781466
                    ],
                    [
                        127.13698866399233,
                        37.59790584765239
                    ],
                    [
                        127.13697020801175,
                        37.5979027135628
                    ],
                    [
                        127.1366011625241,
                        37.597840043696806
                    ],
                    [
                        127.13654725462499,
                        37.59802399602662
                    ],
                    [
                        127.13651346269505,
                        37.598123142816256
                    ],
                    [
                        127.13649097808948,
                        37.59821326683482
                    ],
                    [
                        127.13646849343002,
                        37.5983033908478
                    ],
                    [
                        127.13590611634501,
                        37.60042134223475
                    ],
                    [
                        127.13586109564942,
                        37.6005745605443
                    ],
                    [
                        127.13658578561916,
                        37.6005467040099
                    ],
                    [
                        127.13836352778408,
                        37.60047257769923
                    ],
                    [
                        127.1389183554349,
                        37.600444903657355
                    ],
                    [
                        127.13906556773811,
                        37.600444732198234
                    ],
                    [
                        127.13919013199376,
                        37.600444586974035
                    ],
                    [
                        127.1393033888398,
                        37.60045346464534
                    ],
                    [
                        127.13942796973822,
                        37.60046232897743
                    ],
                    [
                        127.13947326584125,
                        37.60046227604472
                    ],
                    [
                        127.13955255066577,
                        37.600471193177945
                    ],
                    [
                        127.13966582425235,
                        37.600489080308456
                    ],
                    [
                        127.13971114835881,
                        37.60049803707836
                    ],
                    [
                        127.13979042192514,
                        37.60050695406488
                    ],
                    [
                        127.1399036956222,
                        37.60052484096679
                    ],
                    [
                        127.14001698607365,
                        37.60055173756674
                    ],
                    [
                        127.14014160064946,
                        37.60057862075877
                    ],
                    [
                        127.14025490799678,
                        37.60061452693658
                    ],
                    [
                        127.14061757945804,
                        37.60077627696512
                    ],
                    [
                        127.14073090411945,
                        37.60082119249001
                    ],
                    [
                        127.1411389076988,
                        37.6010009070854
                    ],
                    [
                        127.14171691048881,
                        37.60125249706336
                    ],
                    [
                        127.14198891015728,
                        37.6013693013957
                    ],
                    [
                        127.14234029880066,
                        37.60154907918089
                    ],
                    [
                        127.14307698560296,
                        37.60187255163157
                    ],
                    [
                        127.14364366024405,
                        37.602115144897695
                    ],
                    [
                        127.144164989676,
                        37.60233074275115
                    ],
                    [
                        127.14486768442035,
                        37.60263622540002
                    ],
                    [
                        127.14562704165147,
                        37.60295965432092
                    ],
                    [
                        127.14570638201262,
                        37.602995596712795
                    ],
                    [
                        127.14656777156561,
                        37.60337295379582
                    ],
                    [
                        127.14661310441478,
                        37.6033909177196
                    ],
                    [
                        127.14671512967007,
                        37.603444851183966
                    ],
                    [
                        127.14683978651219,
                        37.603489746875674
                    ],
                    [
                        127.14695311901596,
                        37.60353465638952
                    ],
                    [
                        127.14697580307461,
                        37.60355264807878
                    ],
                    [
                        127.14817713640876,
                        37.604028681963264
                    ],
                    [
                        127.14883983293151,
                        37.604226063692685
                    ],
                    [
                        127.14905381698979,
                        37.6036266523566
                    ],
                    [
                        127.14921122008968,
                        37.60304982693306
                    ],
                    [
                        127.14931231104165,
                        37.60263074366512
                    ],
                    [
                        127.14973005192465,
                        37.60199502733137
                    ],
                    [
                        127.15002924919149,
                        37.601544160066105
                    ],
                    [
                        127.15022399289522,
                        37.60124321198909
                    ],
                    [
                        127.15041873952194,
                        37.60094451602922
                    ],
                    [
                        127.15046914114802,
                        37.60066514785704
                    ],
                    [
                        127.1506028895119,
                        37.59994419292814
                    ],
                    [
                        127.15141159104788,
                        37.599024166349906
                    ],
                    [
                        127.15207899677627,
                        37.598766536820506
                    ],
                    [
                        127.15365594669434,
                        37.59743106009972
                    ],
                    [
                        127.15612212443939,
                        37.59628811208448
                    ],
                    [
                        127.15714067554713,
                        37.59602098356998
                    ],
                    [
                        127.15892912800409,
                        37.59571678272959
                    ],
                    [
                        127.15931394887146,
                        37.59563518043013
                    ],
                    [
                        127.16042382539347,
                        37.59555485547182
                    ],
                    [
                        127.16049139788552,
                        37.5955525120266
                    ],
                    [
                        127.16156756204371,
                        37.5957627887928
                    ],
                    [
                        127.16163480162707,
                        37.59576354452644
                    ],
                    [
                        127.16242847846092,
                        37.595837922584074
                    ],
                    [
                        127.1624396224054,
                        37.5958387453063
                    ],
                    [
                        127.1628473495972,
                        37.5958736694607
                    ],
                    [
                        127.16305155259975,
                        37.59588831046784
                    ],
                    [
                        127.16315276189805,
                        37.59589408236965
                    ],
                    [
                        127.16318708654919,
                        37.59589572921049
                    ],
                    [
                        127.16320937912822,
                        37.5958942931419
                    ],
                    [
                        127.1632550362279,
                        37.595900141039955
                    ],
                    [
                        127.16346917409551,
                        37.59584353598488
                    ],
                    [
                        127.16380390429319,
                        37.595755230394595
                    ],
                    [
                        127.16411367748019,
                        37.59566189470975
                    ],
                    [
                        127.16455941877767,
                        37.595526411695666
                    ],
                    [
                        127.16466799271252,
                        37.595498105952544
                    ],
                    [
                        127.164792288037,
                        37.59546160644671
                    ],
                    [
                        127.16497527839925,
                        37.59540223066998
                    ],
                    [
                        127.16527152221487,
                        37.595269771967914
                    ],
                    [
                        127.16534823771407,
                        37.595238969018425
                    ],
                    [
                        127.16551811026801,
                        37.59516722208566
                    ],
                    [
                        127.16566521304783,
                        37.59512196845147
                    ],
                    [
                        127.16607521217732,
                        37.59499160194061
                    ],
                    [
                        127.16610597309143,
                        37.59498452237382
                    ],
                    [
                        127.16640106521304,
                        37.594896264675
                    ],
                    [
                        127.16664966337704,
                        37.59482327087773
                    ],
                    [
                        127.16667597142013,
                        37.59479958326035
                    ],
                    [
                        127.1672603758701,
                        37.59440796262537
                    ],
                    [
                        127.16769568416082,
                        37.59404217303735
                    ],
                    [
                        127.16823473634544,
                        37.5934712526055
                    ],
                    [
                        127.1682716216124,
                        37.593433476327014
                    ],
                    [
                        127.16863255083918,
                        37.59288561842668
                    ],
                    [
                        127.16886397818283,
                        37.592495615171096
                    ],
                    [
                        127.168952986274,
                        37.59179272171198
                    ],
                    [
                        127.16888469702889,
                        37.59163514640748
                    ],
                    [
                        127.16869139544654,
                        37.59127052190456
                    ],
                    [
                        127.16856648413078,
                        37.5910274331143
                    ],
                    [
                        127.16854337597893,
                        37.59098241662263
                    ],
                    [
                        127.16846962835336,
                        37.59083385861638
                    ],
                    [
                        127.1682276439314,
                        37.590692574961146
                    ],
                    [
                        127.16808839868051,
                        37.590606051833646
                    ],
                    [
                        127.1678687410511,
                        37.590478818306934
                    ],
                    [
                        127.16781687157452,
                        37.59046312417339
                    ],
                    [
                        127.16765985292297,
                        37.59042336861981
                    ],
                    [
                        127.16700205128289,
                        37.5902457806716
                    ],
                    [
                        127.1661350494191,
                        37.5898685796518
                    ],
                    [
                        127.16496283550369,
                        37.58971253632312
                    ],
                    [
                        127.16377440564915,
                        37.58990788742307
                    ],
                    [
                        127.1634346551563,
                        37.58987231457377
                    ],
                    [
                        127.16316844215262,
                        37.5898096105442
                    ],
                    [
                        127.16277674670197,
                        37.589722300337876
                    ],
                    [
                        127.16261904361727,
                        37.589688728765694
                    ],
                    [
                        127.16244333333363,
                        37.58958986018498
                    ],
                    [
                        127.1620125804207,
                        37.58935619075473
                    ],
                    [
                        127.16165628406598,
                        37.589523356707105
                    ],
                    [
                        127.16156581298911,
                        37.58956852861117
                    ],
                    [
                        127.16129435381193,
                        37.58970404396807
                    ],
                    [
                        127.16126040591294,
                        37.58971309975373
                    ],
                    [
                        127.16089818561382,
                        37.58975863857518
                    ],
                    [
                        127.16030976568757,
                        37.58992160871511
                    ],
                    [
                        127.16011743751622,
                        37.58999394600292
                    ],
                    [
                        127.15981207537334,
                        37.59015653301254
                    ],
                    [
                        127.15971032583317,
                        37.59022874813623
                    ],
                    [
                        127.15964252446389,
                        37.59029190786104
                    ],
                    [
                        127.15951814864971,
                        37.59037316296467
                    ],
                    [
                        127.15943908159754,
                        37.59046336717006
                    ],
                    [
                        127.15930353491889,
                        37.59061671570893
                    ],
                    [
                        127.1590210983387,
                        37.590914417605475
                    ],
                    [
                        127.15887415152186,
                        37.59103174149464
                    ],
                    [
                        127.15844447961294,
                        37.59131161849547
                    ],
                    [
                        127.1583427082747,
                        37.59137482261892
                    ],
                    [
                        127.15815041221597,
                        37.59146517632364
                    ],
                    [
                        127.1578561739986,
                        37.591537645095826
                    ],
                    [
                        127.15777699069335,
                        37.59157378929589
                    ],
                    [
                        127.15755070657713,
                        37.59165517717025
                    ],
                    [
                        127.15744889642039,
                        37.591700360895054
                    ],
                    [
                        127.15723399057566,
                        37.59180876264492
                    ],
                    [
                        127.15697379321824,
                        37.59191722365764
                    ],
                    [
                        127.15674748847131,
                        37.59198960017832
                    ],
                    [
                        127.15631748584855,
                        37.59211630259648
                    ],
                    [
                        127.15619301015082,
                        37.59215250511928
                    ],
                    [
                        127.15586483621902,
                        37.59224303306134
                    ],
                    [
                        127.1552650814276,
                        37.59241500267054
                    ],
                    [
                        127.15505009631866,
                        37.59248736118946
                    ],
                    [
                        127.15495958783026,
                        37.59252351822554
                    ],
                    [
                        127.1556737614087,
                        37.5929280303768
                    ],
                    [
                        127.15578712034772,
                        37.592990951137246
                    ],
                    [
                        127.156025180328,
                        37.59312578731987
                    ],
                    [
                        127.15621789351452,
                        37.59323365294881
                    ],
                    [
                        127.15634259497,
                        37.59330556814205
                    ],
                    [
                        127.1563652595026,
                        37.593314548248536
                    ],
                    [
                        127.15642194886887,
                        37.59335051321284
                    ],
                    [
                        127.15645595504355,
                        37.593368488253624
                    ],
                    [
                        127.15652395610036,
                        37.59340442931059
                    ],
                    [
                        127.15654665071528,
                        37.59342242818823
                    ],
                    [
                        127.1566033215547,
                        37.593449383253144
                    ],
                    [
                        127.15661466320635,
                        37.59345837818733
                    ],
                    [
                        127.15661468190356,
                        37.59346738799852
                    ],
                    [
                        127.15506341818195,
                        37.59346040622219
                    ],
                    [
                        127.15478047358846,
                        37.593523842785515
                    ],
                    [
                        127.1525168448613,
                        37.59400428145212
                    ],
                    [
                        127.15090963938691,
                        37.5943396993954
                    ],
                    [
                        127.15092107052968,
                        37.59439373492746
                    ],
                    [
                        127.15093246568145,
                        37.59442975984362
                    ],
                    [
                        127.15094393288317,
                        37.59450181499649
                    ],
                    [
                        127.15095529204933,
                        37.594519829295685
                    ],
                    [
                        127.15095532808061,
                        37.594537848919515
                    ],
                    [
                        127.15103496846785,
                        37.59472695459357
                    ],
                    [
                        127.15086526524237,
                        37.59479924810525
                    ],
                    [
                        127.15087662441701,
                        37.59481725340123
                    ],
                    [
                        127.15074081841797,
                        37.59485347350996
                    ],
                    [
                        127.1507406924702,
                        37.594790395819345
                    ],
                    [
                        127.1507290881586,
                        37.59465526297213
                    ],
                    [
                        127.15072906350485,
                        37.594637243334176
                    ],
                    [
                        127.15075154785963,
                        37.5945561263983
                    ],
                    [
                        127.15074013478585,
                        37.59451109165333
                    ],
                    [
                        127.15070580572032,
                        37.59433093834815
                    ],
                    [
                        127.15066018971748,
                        37.59416881895943
                    ],
                    [
                        127.1504819798119,
                        37.59381593718541
                    ],
                    [
                        127.15034153243691,
                        37.593438368872725
                    ],
                    [
                        127.15031873974453,
                        37.59328628595616
                    ],
                    [
                        127.15029600420169,
                        37.593241265430535
                    ],
                    [
                        127.15025572534539,
                        37.5932093163227
                    ],
                    [
                        127.15019112403263,
                        37.59303854109619
                    ],
                    [
                        127.15009172718628,
                        37.5930612356435
                    ]
                ]
            ]
        ]
        //사진 업로드
        $(document).ready(function () {
            $('.img_up_btn input[type=file]').change(function (event) {
                var file = event.target.files[0];
                var reader = new FileReader();
                var inputElement = this; // 현재 input[type=file] 요소를 저장합니다.

                reader.onload = function (event) {
                    var imgBoxMain = $(inputElement).closest('.img_up_btn').siblings('.img_common_box');

                    var img = $('<img>');
                    img.attr('src', event.target.result);
                    imgBoxMain.empty(); // 기존 이미지를 지우고
                    imgBoxMain.append(img); // 새 이미지를 추가합니다.

                    var newHtml = `
                                                              <div class="after_btn">
                                                                  <label> 사진 변경
                                                                      <input type="file" class="file_upload_new" style="display: none;">
                                                                  </label>
                                                                  <span class="delete_photo">사진 삭제</span>
                                                              </div>
                                                          `;

                    $(inputElement).closest('.img_up_btn').hide().after(newHtml);

                    // 새로운 사진 변경 버튼에 대한 이벤트 핸들러를 추가
                    $('.file_upload_new').change(function (event) {
                        var newFile = event.target.files[0];
                        var newReader = new FileReader();
                        var newInputElement = this; // 새로운 input[type=file] 요소를 저장합니다.

                        newReader.onload = function (event) {
                            var newImgBoxMain = $(newInputElement).closest('.after_btn').prevAll('.img_common_box').first();
                            var newImg = $('<img>');
                            newImg.attr('src', event.target.result);
                            newImgBoxMain.empty();
                            newImgBoxMain.append(newImg);
                        };

                        newReader.readAsDataURL(newFile);
                    });

                    // 사진 삭제 버튼에 대한 이벤트 핸들러를 추가
                    $('.delete_photo').click(function () {
                        var deleteBtn = this;
                        var imgBoxMainToDelete = $(deleteBtn).closest('.after_btn').prevAll('.img_common_box').first();
                        imgBoxMainToDelete.empty();
                        $(deleteBtn).closest('.after_btn').prev('.img_up_btn').show();
                        $(deleteBtn).parent('.after_btn').remove();
                    });
                };

                reader.readAsDataURL(file);
            });
        });

        //이메일 선택
        $(function () {
            $('#selectEmail').change(function () {
                $("#selectEmail option:selected").each(function () {

                    if ($(this).val() == '1') {
                        $("#selectEmail2").val('');
                        $("#selectEmail2").attr("disabled", false);
                    } else {
                        $("#selectEmail2").val($(this).text());
                        $("#selectEmail2").attr("disabled", true);
                    }
                });
            });
        });

        //글자수 제한
        $(document).ready(function () {
            var maxLength = 100;
            var $introInput = $('#introInput');
            var $charCount = $('#charCount');

            $introInput.on('input', function () {
                var textLength = $introInput.val().length;
                $charCount.text(textLength);

                if (textLength > maxLength) {
                    $introInput.val($introInput.val().substring(0, maxLength));
                    alert('최대 ' + maxLength + '자까지 입력 가능합니다.');
                    $charCount.text(maxLength);
                }
            });
        });

        //달력
        $('input[name="dates"]').daterangepicker({
            locale: {
                format: "YYYY / MM / DD",
                separator: " ~ ",
                daysOfWeek: ["일", "월", "화", "수", "목", "금", "토"],
                monthNames: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
                applyLabel: "확인",
                cancelLabel: "취소",
            }
        });

        //멤버 입력란 숫자만
        $(document).ready(function () {
            $('#memberInput').on('input', function () {
                var inputValue = $(this).val();
                if (!/^\d*$/.test(inputValue)) {
                    alert("숫자만 입력 가능합니다.");
                    $(this).val(inputValue.replace(/\D/g, ''));
                }
            });
        });

        //미노출 선택시 비밀번호 입력창
        $(document).ready(function () {
            $('.ex_px_wrap').hide();

            $('input[type="radio"][name="expose"]').click(function () {
                $('.ex_px_wrap').toggle($('#expose2').prop('checked'));
                $('#url_pw').val('');
            });
        });

        //해시태그 입력
        $(document).ready(function () {
            $('#input_tag').keypress(function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                    var text = $(this).val().trim();
                    if (text !== "") {
                        addHashTag(text);
                        $(this).val('');
                    }
                }
            });

            $(document).on('click', '.tag_del', function () {
                $(this).closest(".hash_tag").remove();
            });

            function addHashTag(text) {
                var tag = $('<span class="hash_tag"></span>');
                tag.text('#' + text);
                var icon = $('<img src="/Content/images/close.svg" class="tag_del" alt="">');
                icon.appendTo(tag);
                tag.insertBefore('#input_tag');
            }
        });


        var container = document.getElementById('map');
        var options = {
            center: new kakao.maps.LatLng(37.59347385552367, 127.15240704096172),
            level: 8
        };

        var map = new kakao.maps.Map(container, options);

        // 다각형을 구성하는 좌표 배열입니다. 이 좌표들을 이어서 다각형을 표시합니다
        /*
        var polygonPath = [
            new kakao.maps.LatLng(33.45133510810506, 126.57159381623066),
            new kakao.maps.LatLng(33.44955812811862, 126.5713551811832),
            new kakao.maps.LatLng(33.449986291544086, 126.57263296172184),
            new kakao.maps.LatLng(33.450682513554554, 126.57321034054742),
            new kakao.maps.LatLng(33.451346760004206, 126.57235740081413)
        ];
        */

        var polygonPath = [];
        for (var i = 0; i < ddd[0][0].length; i++) {
            var lat = ddd[0][0][i][1];
            var lng = ddd[0][0][i][0];
            var latLng = new kakao.maps.LatLng(lat, lng);
            polygonPath.push(latLng);
        }

        // 지도에 표시할 다각형을 생성합니다
        var polygon = new kakao.maps.Polygon({
            path: polygonPath, // 그려질 다각형의 좌표 배열입니다
            strokeWeight: 3, // 선의 두께입니다
            strokeColor: '#39DE2A', // 선의 색깔입니다
            strokeOpacity: 0.8, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'longdash', // 선의 스타일입니다
            fillColor: '#A2FF99', // 채우기 색깔입니다
            fillOpacity: 0.7 // 채우기 불투명도 입니다
        });

        // 지도에 다각형을 표시합니다
        polygon.setMap(map);



        const findNeighborhoodCoordinates = async (neighborhoodName) => {
            const response = await fetch("/Content/location/emd10.json");
            const data = await response.json();


            for (const feature of data.features) {
                if (neighborhoodName === feature.properties.EMD_KOR_NM) {
                    return feature.geometry.coordinates;
                }
            }
            return false;
        };


        console.log(ddd[0][0].length)
        console.log(ddd[0][0][0][1])
        console.log(ddd[0][0][0][0])


        $(".addr_btn").on("click",function (e) {
            $.ajax({
                url: '/Meetup/SearchLocationDataAsunc',
                method: 'get',
                dataType: 'json',
                success: function (response) {
                    //console.log(response)
                    var obj = JSON.parse(response.data);
                    // 성공적으로 응답을 받았을 때 실행할 코드
                    console.log(obj);
                },
                error: function (xhr, status, error) {
                    // 요청이 실패하거나 오류가 발생했을 때 실행할 코드
                    console.log(error);
                }
            });
        });
    </script>
}
