
@{
    ViewBag.Title = "글쓰기";
}
@section Style{
    <link rel="stylesheet" href="~/Content//css/community.css" />
}
<div class="section_wrap cw_wrap">
    <div class="inner sub_inner">
        <h3 class="section_title">커뮤니티 글쓰기</h3>
        <div class="cw_box">
            <input type="text" placeholder="제목을 입력해주세요">
            <textarea name="" id="" cols="30" rows="10" placeholder="내용을 입력하세요."></textarea>
        </div>

        <div class="cw_btn">
            <span class="big_btn">등록하기</span>
        </div>
    </div>
</div>

@section scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',

            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),

        });
    </script>

}